.messenger-container {
    display: flex;
    height: calc(100vh - 50px);

    .messenger-leftbar {
        flex: 1;
        height: 100%;
        border-right: 1px solid grey;
        overflow-y: scroll;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        hr{
            margin-block: 5px;
        }

        .searchbar-container {
            width: 100%;
        }

        .searched-user-container{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    .messenger-feed-wrapper {
        flex: 4;
        height: 100%;

        .messenger-feed-container {
            height: 100%;

            .messenger-feed-top {
                padding: 10px;
                width: 100%;
                border-bottom: 1px solid #aaa;

                .profile-info {
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    img {
                        width: 40px;
                        aspect-ratio: 1/1;        
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #a0a0e0;
                    }

                    .avatar {
                        padding: 5px;
                        background-color: #e2e5ea;
                        font-size: 40px;
                        border-radius: 50%;
                        line-height: 0;
                        padding: 6px;
                    }
                }
            }

            .chats-wrapper {
                height: calc(100% - 110px);
            }

            .text-input {
                height: 40px;
                width: 75%;
                background-color: #e1e1e1;
                padding: 5px 20px;
                border-radius: 20px;
                margin: 5px auto;
                display: flex;
                align-items: center;

                input {
                    width: 100%;
                    background-color: #e1e1e1;
                    border: none;
                    font-size: 1rem;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .empty-feed {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
