.intro-container {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: white;

    .intro-item {
        display: flex;
        gap: 10px;
        align-items: center;

        .intro-item-icon {
            font-size: 20px;
            color: gray;
        }
    }
    .no-intro-warning{
        font-size: 18px;
    }
}